{% extends "base.html" %}
{% block content %}

<h2>Experiencia Laboral</h2>

<form method="POST" class="form-card">

    <label>Empresa</label>
    <input type="text" name="empresa" required>

    <label>Puesto Ocupado</label>
    <input type="text" name="puesto_ocupado" required>

    <label>Fecha Desde</label>
    <input type="date" name="fecha_desde" required>

    <label>Fecha Hasta</label>
    <input type="date" name="fecha_hasta">

    <label>Salario</label>
    <input type="number" step="0.01" name="salario">

    <button type="submit" class="btn-primary">
        Guardar Experiencia
    </button>

</form>

{% endblock %}
